*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --text-color: #667085;
    --second-color: #101828;
    --text-color-vaga: #8e24240d;
    --main-color: #8E2424;
    --cor-borda: #EAECF0;
}

body {
    width: 100%;
    height: 100vh;
}

span{
    display: inline-block;
}

nav > ul{
    display: flex;
}

ul > li{
    margin-right: 2rem;
    color: var(--text-color);
    font-weight: 500;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
}

.logo > img{
    margin-right: 0.5rem;
}

.botoes > a{
    margin-right: 0.5rem;
    padding: 0.6rem 1.2rem;
}

.botoes > a:nth-child(1) {
    color: var(--text-color);
}

.botoes > a:nth-child(2) {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 0.6rem;
}

.cabecalho > h4{
    padding-top: 4rem;
    margin-bottom: 1.8rem;
    text-align: center;
    color: var(--main-color);
}

.cabecalho div > h1{
    font-size:2.5rem;
    color: #101828;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

.subtitulo{
    margin-bottom: 1.5rem;
}

.cabecalho div > p {
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    padding-bottom: 6rem;
}

.metricas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12.5rem;
    column-gap: 2rem;
    width: 72rem;
    margin: 0 auto;
}

.metricas > div{
    padding: 1.2rem;
}

.metricas > div h1{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.metricas > div h4{
    font-weight: 600;
    color: var(--second-color);
    margin-bottom: 0.5rem;
}

.metricas > div p{
    font-weight: 400;
    color: var(--text-color);
}

.vagas{
    text-align: center;
    margin-top: 10rem;
}

.vagas h4{
    background-color: var(--text-color-vaga);
    width: fit-content;
    margin: 0 auto;
    border-radius: 3rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    color: var(--main-color);
}

.vagas h1{
    font-weight: 600;
    font-size: 2rem;
    color: var(--second-color);
    margin-top: 1rem;
}

.vagas p{
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: var(--text-color);
}

.imagem-reuniao{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.design, .desenvolvimento{
    display: flex;
    justify-content: center;
}

.desenvolvimento{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.vagas-design > h4, .vagas-desenvolvimento > h4{
    margin-bottom: 2rem;
}

.vagas-salarios{
    width: 720px;
    border: 1px solid var(--cor-borda);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.vagas-salarios> h4, span{
    padding: 1.4rem 1.3rem 1.4rem 1.3rem;
    font-weight: 500;
}

.vagas-salarios > span{
    color: var(--text-color);
}

.colaboradores{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.colab{
    background-color: var(--text-color-vaga);
    width: 76rem;
    border-radius: 1rem;
    padding: 4rem;
    text-align: center;
}

.colab > h4{
    color: var(--main-color);
    margin-bottom: 1rem;
}

.colab > p {
    font-weight: 500;
    font-size: 2rem;
}

.avatar{
    margin-top: 2rem; 
}

.avatar > p{
    color: var(--text-color);
}

.avatar > h3{
    font-weight: 500;
}

.avatar > img{
    margin-bottom: 1rem;
}